# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Mala Gupta\Dropbox (JetBrains GmbH)\JetBrains\CODE\IJ-Projects\DemoJavaPostgresDB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
